/* CSS file for 4-Delletronic eee skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body.info, body.tbl {
    scrollbar-face-color: #292836;
    scrollbar-arrow-color: #67AFB4;
    scrollbar-track-color: #292836;
    scrollbar-3dlight-color: #486B75;
    scrollbar-highlight-color: #486B75;
    scrollbar-shadow-color: #486B75;
    scrollbar-darkshadow-Color: #486B75;
}

body.tbl {
    border: 1px solid black;
    background-color: #4A9094;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: #4A9094;
}

thead {
    height: 21px;
    font-size: 11px;
    color: #00FCFF;
    background-color: #292836;
}

td.head {
    border-left: 1px solid #4D9196;
    border-right: 1px solid black;
    border-bottom: 3px solid #4D9196;
}

tr.even {
    height: 18px;
    color: black;
    background-color: #51A4A6;
}

tr.odd {
    height: 18px;
    color: black;
    background-color: #56B4B5;
}

tr.select {
    height: 18px;
    color: white;
    background-color: #72A3AF;
    background: url('4-Delletronic eee.selected.png') repeat-x center;
}

.itemname {
    font-weight: bold;
    color: #00FCFF;
}

.hlnumber {
    color: black;
    background-color: silver;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid #292937;
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: #49F9F3;
}

body.info {
    border: 1px solid #292937;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #4A9094;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: lightgrey;
}

.hlrplcmtch {
    color: black;
    background-color: white;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid #292937;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #49F9F3;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: #49F9F3;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #000101;
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: #72A3AF;
}

div.select {
    color: white;
    background-color: #4A9094;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #00FCFF;
    background-color: #292836;
    border-left: 1px solid #4D9196;
    border-right: 1px solid black;
    border-bottom: 3px solid #4D9196;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: black;
}
