/* CSS file for Agora skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body.info, body.tbl {
    scrollbar-face-color: #D7DCE4;
    scrollbar-arrow-color: #B2C1D1;
    scrollbar-track-color: #D2D9E3;
    scrollbar-3dlight-color: #CACCD3;
    scrollbar-highlight-color: #B2C1D1;
    scrollbar-shadow-color: #CACCD3;
    scrollbar-darkshadow-Color: #B2C1D1;
}

body.tbl {
    border: 1px solid #CACCD3;
    background-color: #F4F5F7;
}

table {
    color: #080000;
    font: 11px 'Tahoma' sans-serif;
}

thead {
    height: 26px;
    font-size: 11px;
    color: black;
    background-color: #D2D9E3;
}

td.head {
    border-left: 2px solid white;
    border-top: 1px solid white;
    border-bottom: 2px solid white;
}

td {
    border-bottom: 1px solid white;
}

tr.even {
    background-color: #EDF0F3;
}

tr.odd {
    background-color: #F4F5F7;
}

tr.select {
    color: #080000;
    background: url('Agora.selected.png') repeat-x center left;
    background-color: #DDE0E3;
}

.itemname {
    font-weight: bold;
    color: darkblue;
}

.hlnumber {
    color: black;
    background-color: Silver;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid #CACCD3;
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: white;
}

body.info {
    border: 1px solid #CACCD3;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #EFF7FF;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: lightgrey;
}

.hlrplcmtch {
    color: black;
    background-color: white;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid #CACCD3;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: white;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: white;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #305373;
    font: 11px 'Tahoma' sans-serif;
    background-color: #F4F5F7;
}

div.select {
    padding: 2px 1px;
    border: 1px solid #8095A8;
    color: black;
    background-color: #EBEDF1;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: black;
    background-color: #D2D9E3;
    border-left: 2px solid white;
    border-top: 1px solid white;
    border-bottom: 2px solid white;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: black;
}
