/* CSS file for Blue Glass skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body {
    scrollbar-face-color: #324898;
    scrollbar-arrow-color: #9ABDFA;
    scrollbar-track-color: #E0E0E0;
    scrollbar-3dlight-color: gray;
    scrollbar-highlight-color: blue;
    scrollbar-shadow-color: gray;
    scrollbar-darkshadow-Color: #060C36;
}

body.tbl {
    border: 1px solid #A1C4EC;
    background-color: #F8F8F8;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: #F0F0F0;
}

thead {
    height: 21px;
    font-size: 11px;
    color: black;
    background-color: #969696;
}

td.head {
    background: url('Blue Glass.header.png') repeat-x center left;
    background-color: #E0E0E0;
    border-left: 1px solid #969696;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
}

tr.even {
    height: 18px;
    color: black;
    background-color: white;
}

tr.odd {
    height: 18px;
    color: black;
    background-color: #F0F0F0;
}

tr.select {
    height: 18px;
    color: white;
    background-color: #3169C5;
}

.itemname {
    font-weight: bold;
    color: darkblue;
}

.hlnumber {
    color: white;
    background-color: gray;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid black;
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: #F0F0F0;
}

body.info {
    border: 1px solid #A1C4EC;
    font: 12px 'Courier New' monospace;
    color: white;
    background-color: #060C36;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: #E0E0E0;
}

.hlrplcmtch {
    color: silver;
    background-color: #324898;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid black;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #F0F0F0;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: white;
}

/* Event Logger specific */
body.menu {
    border: none;
    font: 11px 'Tahoma' sans-serif;
    color: white;
    background-color: #15204E;
}

div.select {
    color: white;
    background-color: #0043BD;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: black;
    background: url('Blue Glass.header.png') repeat-x center left;
    background-color: #E0E0E0;
    border-left: 1px solid #969696;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: #AAAAAA;
}
