/* CSS file for Casino Orange skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body {
    scrollbar-face-color: #EF8100;
    scrollbar-arrow-color: white;
    scrollbar-track-color: #FAF8F4;
    scrollbar-3dlight-color: white;
    scrollbar-highlight-color: #FACA05;
    scrollbar-shadow-color: #FACA05;
    scrollbar-darkshadow-Color: #FACA05;
}

body.tbl {
    border: 1px solid black;
    background-color: #FFFBF1;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: #FEFEFD;
}

thead {
    height: 25px;
    font-size: 11px;
    color: #FEFEFE;
    background-color: #3D3D3D;
}

td.head {
    background-color: #3D3D3D;
}

tr.even {
    height: 18px;
    color: black;
    background-color: #FEFEFD;
}

tr.odd {
    height: 18px;
    color: black;
    background-color: #F7EFDB;
}

tr.select {
    height: 18px;
    color: silver;
    background-color: #3169C5;
}

.itemname {
    font-weight: bold;
    color: #EF8100;
}

.hlnumber {
    color: black;
    background-color: #F3A70B;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid black;
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: #F0F0F0;
}

body.info {
    border: 1px solid #343437;
    font: 12px 'Courier New' monospace;
    color: white;
    background-color: #3F3F42;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: #F0E2C0;
}

.hlrplcmtch {
    color: black;
    background-color: lightgrey;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid black;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #F0F0F0;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: white;
}

/* Event Logger specific */
body.menu {
    border: none;
    font: 11px 'Tahoma' sans-serif;
    color: white;
    background-color: #3F3F42;
}

div.select {
    color: white;
    background-color: #0043BD;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #FEFEFE;
    background-color: #3D3D3D;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: black;
}
