/* CSS file for Eclipse skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body {
    scrollbar-face-color: black;
    scrollbar-arrow-color: #18497B;
    scrollbar-track-color: black;
    scrollbar-3dlight-color: #18497B;
    scrollbar-highlight-color: darkblue;
    scrollbar-shadow-color: black;
    scrollbar-darkshadow-Color: darkblue;
}

body.tbl {
    border: 1px solid #2F5699;
    background-color: black;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: #0C0F1A;
}

thead {
    height: 24px;
    font-size: 13px;
    color: #2B96E6;
    background-color: #0C0F1A;
}

td.head {
    background-color: black;
    border-bottom: 1px solid #2F5699;
}

tr.even {
    height: 19px;
    color: #2B96E6;
    background-color: black;
}

tr.odd {
    height: 19px;
    color: #2B96E6;
    background-color: #0C0F1A;
}

tr.select {
    height: 19px;
    color: black;
    background-color: #18497B;
}

.itemname {
    font-weight: bold;
    color: #6C84D9;
}

.hlnumber {
    color: black;
    background-color: #2F5699;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid #2F5699;
    font: 11px 'Tahoma' sans-serif;
    color: #2B96E6;
    background-color: #18497B;
}

body.info {
    border: 1px solid #2F5699;
    font: 12px 'Courier New' monospace;
    color: #2B96E6;
    background-color: black;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: #18497B;
}

.hlrplcmtch {
    color: black;
    background-color: gray;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid #2F5699;
    font: 12px 'Courier New' monospace;
    color: #2B96E6;
    background-color: #18497B;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: #2B96E6;
    background-color: #083563;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #5B79C7;
    font: 11px 'Tahoma' sans-serif;
    color: #29549C;
    background-color: black;
}

div.select {
    padding: 2px;
    color: #2B95E6;
    background-color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid #29549C;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #18497B;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #18497B;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #2B96E6;
    background-color: black;
    border-bottom: 1px solid #2F5699;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: #2B96E6;
}
