/* CSS file for eiBox Blue skin*/
/* by Nynaevelan */

body {
    scrollbar-face-color: #c0c0c0;
    scrollbar-arrow-color: #666666;
    scrollbar-track-color: #A5A5A5;
    scrollbar-3dlight-color: #CCCCCC;
    scrollbar-highlight-color: #D3D3D3;
    scrollbar-shadow-color: #9F9F9F;
    scrollbar-darkshadow-Color: #505050;
}

body.tbl {
    border: 1px solid #5D81B2;
    background-color: #DEDADA;
}

table {
    font: 11.5px 'Tahoma' sans-serif;
    background-color: #DEDADA;
}

thead {
    height: 21px;
    font-size: 11px;
    color: black;
	background-color: #006694;
    
}

td.head {
    border-left: 1px solid #F9F9F9;
    border-right: 2px solid #989494;
	background-image: url('EiBox_Blue_header.png');
}

tr.even {
    color: #000000;
    background-color: #DEDADA;
}

tr.odd {
    color: #000000;
    background-color: #DEDADA;
}

tr.select {
    color: #FF6804;
    background-image: url('EiBox_selected.png');
}

.itemname {
    font-weight: bold;
    color: black;
}

.hlnumber {
    color: white;
    background-image: url('EiBox_selected.png'); 
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid #000000;
    font: 11px 'Tahoma' sans-serif;
    color: #080000;
    background-color: #DEDADA;
}

body.info {
    border: 1px solid black;
    font: 12px 'Courier New' serif;
    color: #080000;
    background-color: #DEDADA;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: lightgrey;
}

.hlrplcmtch {
    color: black;
    background-color: white;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: red;
    background-color: lightblue;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid #000000;
    font: 12px 'Courier New' monospace;
    color: #00000;
    background-color: #DEDADA;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: #080000;
    background-color: #DEDADA;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #a7a7a7;
    font: 11px 'Tahoma' sans-serif;
    color: #000000;
    background-color: #f69570;
}

div.select {
    color: #080000;
    background-image: url('EiBox_selected.png');
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: black;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: black;
    background-image: url('EiBox_Blue_header.png');
    border-left: 1px solid #F9F9F9;
    border-right: 2px solid #989494;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: #71b0f3;
}
