/* CSS file for Metro M skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body.info, body.tbl {
    scrollbar-face-color: #242424;
    scrollbar-arrow-color: #4C4C4C;
    scrollbar-track-color: #4C4C4C;
    scrollbar-3dlight-color: #4C4C4C;
    scrollbar-highlight-color: #4C4C4C;
    scrollbar-shadow-color: #4C4C4C;
    scrollbar-darkshadow-Color: #4C4C4C;
}

body.tbl {
    border: 1px solid #606060;
    background-color: #151515;
}

table {
    font: 11px 'Tahoma' sans-serif;
    color: white;
    background-color: #242424;
}

thead {
    font-size: 16px;
}

td.head {
    height: 27px;
    color: #606060;
    background-color: #101010;
    border-bottom: 1px solid #5A4B34;
}

tr {
    height: 18px;
    color: #E1E1E1;
}

tr.even {
    background-color: #1A1A1A;
}

tr.odd {
    background-color: #151515;
}

tr.select {
    color: white;
    background-color: #383838;
}

.itemname {
    font-weight: bold;
    color: #606060;
}

.hlnumber {
    color: white;
    background-color: #242424;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid #242424;
    font: 11px 'Tahoma' sans-serif;
    color: #E1E1E1;
    background-color: #383838;
}

body.info {
    border: 1px solid #606060;
    font: 12px 'Courier New' monospace;
    color: #606060;
    background-color: #151515;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: lightgrey;
}

.hlrplcmtch {
    color: black;
    background-color: gray;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 0px;
    font: 12px 'Courier New' monospace;
    color: #E1E1E1;
    background-color: #383838;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: #E1E1E1;
    background-color: #383838;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #242424;
    font: 11px 'Tahoma' sans-serif;
    color: white;
    background-color: #5A4B34;
}

div.select {
    color: white;
    background-color: #806A48;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #606060;
    background-color: #383838;
    border-bottom: 1px solid #5A4B34;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: #E1E1E1;
}
