/* CSS file for MM-Ultimate skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body {
    scrollbar-face-color: #003CB2;
    scrollbar-arrow-color: white;
    scrollbar-track-color: #1C1E25;
    scrollbar-3dlight-color: white;
    scrollbar-highlight-color: #6A8DD2;
    scrollbar-shadow-color: #49CFFF;
    scrollbar-darkshadow-Color: #6DCFFF;
}

body.tbl {
    border: 1px solid #292929;
    background-color: black;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: black;
}

thead {
    height: 25px;
    font-size: 14px;
    color: white;
    background-color: black;
}

td.head {
    background: url('MM-Ultimate.header.png') repeat-x;
    background-color: #353B47;
    border-bottom: 1px solid #454F74;
}

tr.even {
    height: 18px;
    color: white;
    background-color: black;
}

tr.odd {
    height: 18px;
    color: white;
    background-color: black;
}

tr.select {
    height: 18px;
    color: white;
    background: url('MM-Ultimate.selected.png') repeat-x center left;
    background-color: #47586F;
}

.itemname {
    font-weight: bold;
    color: blue;
}

.hlnumber {
    color: black;
    background-color: #2F5699;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid #7F9DB9;
    font: 11px 'Tahoma' sans-serif;
    color: white;
    background-color: #B5B5B5;
}

body.info {
    border: 1px solid #292929;
    font: 12px 'Courier New' serif;
    color: white;
    background-color: black;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: silver;
}

.hlrplcmtch {
    color: black;
    background-color: #18497B;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid #7F9DB9;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #B5B5B5;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: white;
    background-color: black;
}

/* Event Logger specific */
body.menu {
    border: 2px solid #454F74;
    font: 11px 'Tahoma' sans-serif;
    color: white;
    background-color: black;
}

div.select {
    color: white;
    background-color: #3169C5;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    background: url('MM-Ultimate.header.png') repeat-x;
    background-color: #353B47;
    border-bottom: 1px solid #454F74;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: white;
}
