/* CSS file for Noir skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body.info, body.tbl {
    scrollbar-face-color: black;
    scrollbar-arrow-color: gray;
    scrollbar-track-color: #0C0C0C;
    scrollbar-3dlight-color: gray;
    scrollbar-highlight-color: #3D3D3D;
    scrollbar-shadow-color: #3D3D3D;
    scrollbar-darkshadow-Color: gray;
}

body.tbl {
    border: 1px solid black;
    background-color: black;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: black;
}

thead {
    height: 24px;
    font-size: 11px;
    color: #9F9F9F;
    background-color: black;
}

td.head {
    background: url('Noir.header.png') repeat-x;
    background-color: #0C0C0C;
    border-left: 1px solid black;
}

tr.even {
    height: 18px;
    color: #7F7F7F;
    background-color: black;
}

tr.odd {
    height: 18px;
    color: #7F7F7F;
    background-color: black;
}

tr.select {
    height: 18px;
    color: silver;
    background: url('Noir.selected.png') repeat-x;
    background-color: #6E6E6E;
}

.itemname {
    font-weight: bold;
    color: gainsboro;
}

.hlnumber {
    color: black;
    background-color: gray;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid black;
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: #B2B2B2;
}

body.info {
    border: 1px solid black;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #6F6F6F;
}

.hlreplace {
    color: black;
    background-color: gainsboro;
}

.hlmatch {
    color: silver;
    background-color: #454545;
}

.hlrplcmtch {
    color: black;
    background-color: gray;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid black;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #B2B2B2;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: #9F9F9F;
    background-color: #4C4C4C;
}

/* Event Logger specific */
body.menu {
    border: 1px solid black;
    font: 11px 'Tahoma' sans-serif;
    background-color: #A0A0A0;
}

div.select {
    padding: 2px 1px;
    border: 1px solid #474747;
    color: black;
    background-color: #CDD0D3;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #9F9F9F;
    background: url('Noir.header.png') repeat-x;
    background-color: #0C0C0C;
    border-left: 1px solid black;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: #7F7F7F;
}
