/* CSS file for Pulse skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body.info, body.tbl {
    scrollbar-face-color: #E1E1E1;
    scrollbar-arrow-color: #EEEEEE;
    scrollbar-track-color: #EEEEEE;
    scrollbar-3dlight-color: #F6F6F6;
    scrollbar-highlight-color: #F6F6F6;
    scrollbar-shadow-color: #999999;
    scrollbar-darkshadow-Color: #A5A5A5;
}

body.tbl {
    border: 1px solid black;
    background-color: #EEEEEE;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: #F5F5F5;
}

thead {
    height: 21px;
    font-size: 11px;
    color: #424242;
    background-color: #C2C2C2;
}

td.head {
    background: url('Pulse.header.png') repeat-x;
    background-color: #D7D7D7;
    border-left: 1px solid #F4F4F4;
}

td {
    border-left: 1px solid #F4F4F4;
}

tr.even {
    height: 18px;
    color: black;
    background-color: #F4F4F4;
}

tr.odd {
    height: 18px;
    color: black;
    background-color: #EEEEEE;
}

tr.select {
    height: 18px;
    color: black;
    background-color: #C7C7C7;
}

.itemname {
    font-weight: bold;
    color: darkred;
}

.hlnumber {
    color: black;
    background-color: silver;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid #C1C1C1;
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: #EEEEEE;
}

body.info {
    border: 1px solid #C1C1C1;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #E5E5E5;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: lightgrey;
}

.hlrplcmtch {
    color: black;
    background-color: white;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid #C1C1C1;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #EEEEEE;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: #EEEEEE;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #B4B4B4;
    font: 11px 'Tahoma' sans-serif;
    color: #242424;
    background-color: #E4E4E4;
}

div.select {
    color: #242424;
    background-color: #D4D4D4;
    background: url('Pulse.header.png') repeat-x;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #707070;
    background: url('Pulse.header.png') repeat-x;
    background-color: #E7E7E7;
    border-left: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: black;
}
