/* CSS file for songbirdskin skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body {
    scrollbar-face-color: #303030;
    scrollbar-arrow-color: silver;
    scrollbar-track-color: black;
    scrollbar-3dlight-color: #404040;
    scrollbar-highlight-color: #606060;
    scrollbar-shadow-color: #202020;
    scrollbar-darkshadow-Color: #303030;
}

body.tbl {
    border: 1px solid black;
    background-color: black;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: #171717;
}

thead {
    height: 21px;
    font-size: 11px;
    color: #848F8A;
    background-color: #404040;
}

td.head {
    background-color: #303030;
    border-left: 1px solid #404040;
    border-top: 1px solid #404040;
}

tr.even {
    height: 18px;
    color: silver;
    background-color: black;
}

tr.odd {
    height: 18px;
    color: silver;
    background-color: #191919;
}

tr.select {
    height: 18px;
    color: black;
    background-color: gray;
}

.itemname {
    font-weight: bold;
    color: silver;
}

.hlnumber {
    color: black;
    background-color: silver;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid black;
    font: 11px 'Tahoma' sans-serif;
    color: silver;
    background-color: black;
}

body.info {
    border: 1px solid #202020;
    font: 12px 'Courier New' serif;
    color: silver;
    background-color: #404040;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: gray;
}

.hlrplcmtch {
    color: silver;
    background-color: #202020;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid black;
    font: 12px 'Courier New' monospace;
    color: silver;
    background-color: black;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: silver;
    background-color: black;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #313131;
    font: 11px 'Tahoma' sans-serif;
    color: #ACBAB3;
    background-color: black;
}

div.select {
    color: white;
    background-color: #141414;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #848F8A;
    background-color: #303030;
    border-left: 1px solid #404040;
    border-top: 1px solid #404040;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: silver;
}
