/* CSS file for Vitreous skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body.info, body.tbl {
    scrollbar-face-color: #F7F7F7;
    scrollbar-arrow-color: #A9A9A9;
    scrollbar-track-color: #EBEBEB;
    scrollbar-3dlight-color: #F6F6F6;
    scrollbar-highlight-color: #F6F6F6;
    scrollbar-shadow-color: #F6F6F6;
    scrollbar-darkshadow-Color: #999999;
}

body.tbl {
    border: 1px solid #BFBFBF;
    background-color: #FCFCFC;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: #F2F7FD;
}

thead {
    height: 21px;
    font-size: 12px;
    color: #707070;
    background-color: #D5D5D5;
}

td.head {
    background-color: #FCFCFC;
    border-left: 1px solid #EDEDED;
    border-bottom: 1px solid #D6E5F5;
}

tr.even {
    height: 18px;
    color: #080000;
    background-color: #FCFCFC;
}

tr.odd {
    height: 18px;
    color: #080000;
    background-color: #F3F8FE;
}

tr.select, div.select {
    color: #080000;
    background: url('VitreousBlue.selected.png') repeat-x center left;
    background-color: #E3F2FC;
}

tr.select {
    height: 18px;
}

.itemname {
    font-weight: bold;
    color: #336392;
}

.hlnumber {
    color: black;
    background-color: #E7EBF3;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid #BFBFBF;
    font: 11px 'Tahoma' sans-serif;
    color: #080000;
    background-color: white;
}

body.info {
    border: 1px solid #BFBFBF;
    font: 12px 'Courier New' monospace;
    color: #080000;
    background-color: #FEFEFF;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: #E3F2FC;
}

.hlrplcmtch {
    color: black;
    background-color: lightgrey;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid #BFBFBF;
    font: 12px 'Courier New' monospace;
    color: #080000;
    background-color: #FCFCFC;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: #080000;
    background-color: #FCFCFC;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #979797;
    font: 11px 'Tahoma' sans-serif;
    background-color: #F1F1F1;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #707070;
    background-color: #FCFCFC;
    border-left: 1px solid #EDEDED;
    border-top: 1px solid #D6E5F5;
    border-bottom: 1px solid #D6E5F5;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: #080000;
}
