/* CSS file for WMP11 skin and */
/* RegExp Find & Replace/Magic Nodes/Event Logger/Filtered Statistics scripts */
/* by Zvezdan Dimitrijevic */

body {
}

body.tbl {
    border: 1px solid black;
    background-color: #F1F5FF;
}

table {
    font: 11px 'Tahoma' sans-serif;
    background-color: #F1F5FF;
}

thead {
    height: 25px;
    font-size: 14px;
    color: #707070;
    background-color: #E0E4EB;
}

td.head {
    background: url('WMP11.header.png') repeat-x;
    background-color: #EDF2F9;
    border-left: 1px solid #D1D6DD;
    border-bottom: 1px solid #D1D6DD;
}

tr.even {
    height: 18px;
    color: black;
    background-color: #F1F5FF;
}

tr.odd {
    height: 18px;
    color: black;
    background-color: #D6EBFF;
}

tr.select {
    height: 18px;
    color: black;
    background-color: #7EA1DC;
}

.itemname {
    font-weight: bold;
    color: blue;
}

.hlnumber {
    color: white;
    background-color: #0042BD;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid black;
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: white;
}

body.info {
    border: 1px solid #7F9DB9;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: #FAF3EE;
}

.hlreplace {
    color: black;
    background-color: yellow;
}

.hlmatch {
    color: black;
    background-color: #D5EAFE;
}

.hlrplcmtch {
    color: black;
    background-color: lightgrey;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid black;
    font: 12px 'Courier New' monospace;
    color: black;
    background-color: white;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: white;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #979797;
    font: 11px 'Tahoma' sans-serif;
    background-color: #F1F1F1;
}

div.select {
    color: white;
    background-color: #0043BD;
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

th {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #707070;
    background: url('WMP11.header.png') repeat-x;
    background-color: #EDF2F9;
    border-left: 1px solid #D1D6DD;
    border-bottom: 1px solid #D1D6DD;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: black;
}
