/* CSS file for Zekton_P-Blue skin */
/* by Nynaevelan */

body {
    scrollbar-face-color: #2c323c;
    scrollbar-arrow-color: #5D81B2;
    scrollbar-track-color: #7A8DA8;
    scrollbar-3dlight-color: #B3C6E1;
    scrollbar-highlight-color: #5D81B2;
    scrollbar-shadow-color: #5D81B2;
    scrollbar-darkshadow-Color: #5D81B2;
}

body.tbl {
    border: 1px solid black;
    background-color: #B3C6E1;
}

table {
    font: 11.5px 'Tahoma' sans-serif;
    background-color: #B3C6E1;
}

thead {
    height: 21px;
    font: 11px 'Zekton' sans-serif;
    color: black;
    background-color: #7195CC;
}

td.head {
    background-image:url("Zekton_PBlue.header.png");
    border-left:  1px solid #B3C6E1;
    border-right:  1px solid #2f353f;
}

tr.even {
    color: #000000;
    background-color: #B3C6E1;
}

tr.odd {
    color: #000000;
    background-color: #B3C6E1;
}

tr.select {
    color: white;
    background-image: url("Zekton_PBlue.selectedmenu.png");
}

.itemname {
    font-weight: bold;
    color: gray;
}

.hlnumber {
    color: white;
    background-color: #324867;
}

/* RegExp F&R specific */
body.icon {
    border: 1px solid #5D81B2;
    font: 11px 'Tahoma' sans-serif;
    color: #080000;
    background-color: #B3C6E1;
}

body.info {
    border: 1px solid #B3C6E1;
    font: 12px 'Courier New' serif;
    color: #080000;
    background-color: #5D81B2;
}

.hlreplace {
    color: black;
    background-color: #CFA693;
}

.hlmatch {
    color: black;
    background-color: #B3C6E1;
}

.hlrplcmtch {
    color: black;
    background-color: lightgrey;
}

.errexpr {
    color: red;
}

.errcrtc {
    color: white;
    background-color: red;
}

.solving {
    color: blue;
}

/* Magic Nodes specific */
textarea {
    border: 1px solid #69654B;
    font: 12px 'Courier New' monospace;
    color: #080000;
    background-color: #B3C6E1;
}

select {
    font: 11px 'Tahoma' sans-serif;
    color: #080000;
    background-color: #B3C6E1;
}

/* Event Logger specific */
body.menu {
    border: 1px solid #080000;
    font: 11px 'Tahoma' sans-serif;
    color: black;
    background-color: #B3C6E1;
}

div.select {
    color: black;
    background-image: url("Zekton_PBlue.selectedmenu.png");
}

/* Filtered Statistics specific */
h1 {
    font-family: 'Zekton' sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #080000;
    text-align: center;
}

h2 {
    font-family: 'Zekton' sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #080000;
    text-align: center;
}

th {
    height: 25px;
    font: 11px 'Zekton' sans-serif;
    color: black;
    background-image:url("Zekton_PBlue.header.png");
    border-left:  1px solid #B3C6E1;
    border-right:  1px solid #2f353f;
}

table.stat {
    font-size: 9pt;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 9pt;
    color: black;
}